* {
  margin: 0px;
  padding: 0px;
}

#navbar {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 100px rgb(192, 193, 193);
  border: solid 1px rgb(220, 220, 220);
}

.menu {
  text-align: right;
}

.menu li {
  display: inline;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  font-weight: bold;
}

#profil {
  display: flex;
  height: 200px;
  margin: 20px;
  box-shadow: 10px 10px 50px rgb(192, 193, 193);
  border: solid 1px rgb(220, 220, 220);
}

.picture {
  display: flex;
}

img {
  border-radius: 100%;
  padding: 20px;
  height: 150px;
  width: 150px;
}

.identity {
  flex-grow: 1;
  padding: 50px 30px 30px;
}

.identity button {
  padding: 8px;
  border-radius: 5px;
  width: 80px;
  background-color: blue;
  border-color: transparent;
  color: white;
  margin-inline-end: 20px;
  margin-top: 30px;
}

.identity button:hover {
  background-color: rgb(95, 178, 255);
  font-weight: bold;
  color: white;
  box-shadow: 5px 5px 20px rgb(194, 194, 194);
}

.keterangan {
  flex-grow: 2;
  padding: 20px;
  line-height: 30px;
}

#formulir {
  margin: 20px;
  box-shadow: 10px 10px 20px rgb(192, 193, 193);
  border: solid 1px rgb(220, 220, 220);
  font-weight: bold;
  padding: 20px;
}

.hide-content {
  display: none;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#submitButton {
  padding: 5px;
  width: 100%;
  background-color: rgb(0, 183, 113);
  border-color: transparent;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
}

#submitButton:hover {
  background-color: rgb(0, 255, 170);
  font-weight: bolder;
  box-shadow: 5px 5px 20px rgb(194, 194, 194);
}
